* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    color: #16A596;  
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;   
}


h1 {
    font-family: 'Roboto';
    font-size: 6rem;
    text-transform: capitalize;
}

img {
    border-radius: 50%;
    size: 50px;
    }

h1,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
       background: white;
}

.todoInput,
.todoButton {
border: none;
}

form input {
    color: black;
    font-family:"Lobster";
   text-transform: capitalize;
}
form button {
    color: #F8B400;
    cursor: pointer;
    height: 56px;
}

form button:hover{
    background-color: #1F6650;
    color: white;
}
.todoList {
    /* list-style: none; */
    min-width: 30%;
    list-style: none;
    padding: 10px 15px;
    font-family: "Lobster";
    text-transform: capitalize;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.todo {
    background: #ffffff;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content:space-between ;
    align-items:center ;

    
}
ul.todoList {
    width: 485px;
    height: 144.31px;
}
.todo li {
    flex: 1;
}

.todoItem {
    padding: 10px;
    font-family: "Lobster";
    

}
.complete-btn {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #3CCF4E;
    color: white;
    cursor: pointer;
 
}

.complete-btn:hover{
    background-color: #06FF00;
    color: white;
}

.complete {
    text-decoration: line-through;

}


.fa-trash,
.fa-check {
    pointer-events: none;

}
.trash-btn{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #F37878;
    cursor: pointer;
}
.trash-btn:hover{
    background-color: #CF0A0A;
    color: white;
}
    
